body {
  background-color: azure;
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  margin: 0 10px;
}

.header {
  color: brown;
}

.sidebar ul {
  list-style: circle;
}
.sidebar ul li {
  margin-bottom: 8px;
}
.sidebar a {
  text-decoration: none;
}
.border__black {
  border: solid 1px black;
}
.border__green {
  border: solid 1px springgreen;
}
.content > h2 {
  color: aqua;
  border: 1px solid blue;
  padding: 10px;
}
